@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-background text-secondary;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
